html
	block vars
		- var title = "myrp design kit"
	head
		title Layouts
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap', rel='stylesheet')
		link(href='../vendor/myrp/badges.css', rel='stylesheet')
		link(href='../vendor/myrp/buttons.css', rel='stylesheet')
		link(href='../vendor/myrp/cards.css', rel='stylesheet')
		link(href='../vendor/myrp/chips.css', rel='stylesheet')
		link(href='../vendor/myrp/colors.css', rel='stylesheet')
		link(href='../vendor/myrp/grid.css', rel='stylesheet')
		link(href='../vendor/myrp/helpers.css', rel='stylesheet')
		link(href='../vendor/myrp/modals.css', rel='stylesheet')
		link(href='../vendor/myrp/navs.css', rel='stylesheet')
		link(href='../vendor/myrp/tables.css', rel='stylesheet')
		link(href='../vendor/myrp/tabs.css', rel='stylesheet')

		script(src='https://code.jquery.com/jquery-3.2.1.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js')
		script(src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js')
		script(src='../index.js')

	body.grey.lighten-4
		.absolute.top.left.right.back.grey.lighten-3.small

		//.menu.white.grey-text.text-darken-3.z-depth-1
			.menu-top
				img.logo(src="../assets/img/logo.png")
			.menu-collapsed
				a(href='#menu-cadastros')
					i.material-icons home
					.hide-on-med-and-down Cadastros
				a(href='#menu-financeiro')
					i.material-icons attach_money
					.hide-on-med-and-down Financeiro
				a(href='#menu-compras')
					i.material-icons shopping_cart
					.hide-on-med-and-down Compras
				a(href='#menu-vendas')
					i.material-icons local_offer
					.hide-on-med-and-down Vendas
				a(href='#menu-transporte')
					i.material-icons local_shipping
					.hide-on-med-and-down Transporte
				a(href='#menu-estoque')
					i.material-icons widgets
					.hide-on-med-and-down Estoque
				a(href='#menu-sped')
					i.material-icons done_all
					.hide-on-med-and-down SPED
				a.hide(href='#menu-relatorios')
					i.material-icons print
					.hide-on-med-and-down Relatórios
				a(href='#menu-configuracoes')
					i.material-icons settings
					.hide-on-med-and-down Configuração
			.menu-expanded(style="display: none")
				#menu-vendas(style="display: none")
					.row
						.col.s6
							.menu-title Vendas
							p Resumo
							p Orçamentos
							p Pedidos de Venda
							p Ordens de Serviço
							p Operações PDV
							p NF-e
							p NFC-e
							p NFS-e
						.col.s6
							.menu-title Relatórios
							p Produtos Mais Vendidos
							p Produtos Mais Lucrativos
							p Clientes Mais Fiéis
							p Clientes Mais Lucrativos
							p Formas de Pagamento Mais Utilizadas
							p NF-e
							p Itens de NF-e
							p NFC-e
							p Itens da NFC-e
							p Itens de Pedido de Venda
							p Margem de Contribuição por Itens de Pedido de Venda
							p Orçamentos
							p Itens de Orçamento
							p Faturamento Sintético
							p NFS-e
							p Retenções de NFS-e
				#menu-financeiro(style="display: none")
					.row
						.col.s6
							.menu-title Financeiro
							p Resumo
							p Transferência entre Contas
							p Contas a Pagar e Receber
							p Recebimentos Cartão
							p Boleto com Registro
							p Remessas Geredas
							p Conciliação Bancária
						.col.s6
							.menu-title Relatórios
							p Contas a Pagar
							p Contas a Pagar por Categoria
							p Contas a Receber
							p Contas a Receber por Categoria
							p Financeiro Sintético
							p Detalhamento de Conta Bancária
							p Quitação de Contas a Pagar e Receber
							p Recebimentos Cartão
							p Fluxo de Caixa
							p Comissões por Conta a Receber
							p Comissões por Pedido de Venda
							p Comissões por NF-e
							p Comissões por NFS-e
							p Comissões por NFC-e
				#menu-compras(style="display: none")
					.row
						.col.s6
							.menu-title Compras
							p Pedidos de Compra
							p Importar NF-e de Fornecedor
							p NF-e de Fornecedor
							p NFS-e de Fornecedor
						.col.s6
							.menu-title Relatórios
							p NF-e de Fornecedor
							p Itens de NF-e de Fornecedor
							p NFS-e de Fornecedor
							p Retenções de NFS-e de Fornecedor
				#menu-transporte(style="display: none")
					.row
						.col.s6
							.menu-title Transporte
							p CT-e
							p CT-e de Fornecedor
							p Importar CT-e de Fornecedor
							p MDF-e
						.col.s6
							.menu-title Relatórios
							p CT-e
							p CT-e de Fornecedor
				#menu-estoque(style="display: none")
					.row
						.col.s6
							.menu-title Estoque
							p Controle de Estoque
							p Ordens de Produção
							p Consulta Estoque Terceiro por Produto
							p Consulta Estoque Terceiro por Participante
						.col.s6
							.menu-title Relatórios
							p Estoque Próprio
							p Estoque (Preço de Compra)
							p Estoque de Terceiro
							p Estoque em Terceiro
							p Movimentação Estoque Próprio
							p Movimentação Estoque de Terceiro
							p Movimentação Estoque em Terceiro
							p Inventário
				#menu-sped(style="display: none")
					.row
						.col.s12
							.menu-title SPED
							p Entradas de Energia Elétrica
							p Declarações de Exportação
							p Operações com Cartão Crédito/Débito
							p SPED Contribuição
							p SPED Fiscal
							p e-CAC
				#menu-cadastros(style="display: none")
					.row
						.col.s6
							.menu-title Cadastros
							p Produtos
							p Serviços
							p Clientes
							p Fornecedores
							p Transportadores
							p Motoristas
							p Veículos
							p Contadores
							p PDVs
							p Observações
							p Unidades de Medida
							p Naturezas de Operação
							p Formas de Pagamento
							p Contas Bancárias
							p Categorias Financeiras
							p Bandeiras de Cartão
							p Vendedores
						.col.s6
							.menu-title Relatórios
							p Produtos
							p Clientes
							p Fornecedores
							p Transportadores
				#menu-configuracoes(style="display: none")
					.row
						.col.s12
							.menu-title Configuração
							p Transações de Saída
							p Transações do PDV
							p Transações de Entrada
							p Personalizar Campos CT-e
							p Certificado Digital
							p Minha Empresa
							p E-mail
							p Imagem para Impressao
							p Imagem para Documentos
							p Fundos de Combate a Pobreza
				#menu-relatorios(style="display: none")
					.row
						.col.s2
							.menu-title Cadastros
							p Produtos
							p Clientes
							p Fornecedores
							p Transportadores
						.col.s2
							.menu-title Financeiro
							p Contas a Pagar
							p Contas a Pagar por Categoria
							p Contas a Receber
							p Contas a Receber por Categoria
							p Financeiro Sintético
							p Detalhamento de Conta Bancária
							p Quitação de Contas a Pagar e Receber
							p Recebimentos Cartão
							p Fluxo de Caixa
							p Comissões por Conta a Receber
							p Comissões por Pedido de Venda
							p Comissões por NF-e
							p Comissões por NFS-e
							p Comissões por NFC-e
						.col.s2
							.menu-title Compras
							p NF-e de Fornecedor
							p Itens de NF-e de Fornecedor
							p NFS-e de Fornecedor
							p Retenções de NFS-e de Fornecedor
						.col.s2
							.menu-title Vendas
							p Produtos Mais Vendidos
							p Produtos Mais Lucrativos
							p Clientes Mais Fiéis
							p Clientes Mais Lucrativos
							p Formas de Pagamento Mais Utilizadas
							p NF-e
							p Itens de NF-e
							p NFC-e
							p Itens da NFC-e
							p Itens de Pedido de Venda
							p Margem de Contribuição por Itens de Pedido de Venda
							p Orçamentos
							p Itens de Orçamento
							p Faturamento Sintético
							p NFS-e
							p Retenções de NFS-e
						.col.s2
							.menu-title Transporte
							p CT-e
							p CT-e de Fornecedor
						.col.s2
							.menu-title Estoque
							p Estoque Próprio
							p Estoque (Preço de Compra)
							p Estoque de Terceiro
							p Estoque em Terceiro
							p Movimentação Estoque Próprio
							p Movimentação Estoque de Terceiro
							p Movimentação Estoque em Terceiro
							p Inventário

		.center-align
			a.btn.flat.black-text
				<span>Empresa</span>
				i.material-icons arrow_drop_down
		
		.row.middle-align
			.col.s6
				a.h5 Título da página
			.col.s6
				nav.right-align.hide-on-small-only
					a
						span.badge New
						i.material-icons.black-text search
					a
						span.badge.round New
						i.material-icons.black-text notifications
					a
						span.badge.circle 10
						i.material-icons.black-text apps
					a
						span.badge.border New
						i.material-icons.black-text help_outline
					a
						span.badge.border.round New
						i.material-icons.black-text home
					a
						span.badge.circle.border 10
						i.material-icons.black-text account_circle
					a.hide-on-med-and-up
						i.material-icons.black-text more_vert
		
		#bottom.fixed.left.right.bottom.front.padding.grey.lighten-3.center-align
			nav
				a.btn Botão
				a.btn.round Botão
				a.btn.circle
					i.material-icons edit
				a.btn.border Botão
				a.btn.border.round Botão
				a.btn.border.circle
					i.material-icons edit

		#body
			.row
				.col.s12
					nav
						a.btn Botão
						a.btn.round Botão
						a.btn.circle
							i.material-icons edit
						a.btn.border Botão
						a.btn.border.round Botão
						a.btn.border.circle
							i.material-icons edit
				.col.s12
					nav
						a.chip Filtro
						a.chip.active
							i.material-icons.small done
							span Filtro
						a.chip.border Filtro
						a.chip.border
							i.material-icons.small done
							span Filtro
						a.chip.circle
							i.material-icons search
						a.chip.circle.border
							i.material-icons refresh
				.col.s12
					.tabs
						a.active 
							i.material-icons.wrap home
							| Aba 1
						a Aba 2
						a Aba 3
				.col.s12.m6.l3
					.card
						h5 Card
						div Segunda linha
						nav
							a.btn.flat.blue-text Link
				.col.s12.m6.l3
					.card.round
						h5 Card
						div Segunda linha
						nav
							a.btn.flat.blue-text Link
				.col.s12.m6.l3
					.card.border
						h5 Card
						div Segunda linha
						nav
							a.btn.flat.blue-text Link
				.col.s12.m6.l3
					.card.border.round
						h5 Card
						div Segunda linha
						nav
							a.btn.flat.blue-text Link
				.col.s12.l6
					.card
						h5 Gráfico
						div
							canvas#grafico0
						nav
							a.btn.flat.blue-text Link 1
							a.btn.flat.blue-text Link 2
				.col.s12.l6
					.card
						h5 Gráfico
						div
							canvas#grafico1
						nav
							a.btn.flat.blue-text Link 1
							a.btn.flat.blue-text Link 2
				.col.s12
					.card
						h5 Timeline
						label Hoje
						.row.nowrap
							.col.min
								i.material-icons.light-green-text check_circle
							.col
								div.truncate Primeira linha
								label.truncate
									
									span Segunda linha
							.col.min
								nav
									a.btn.flat.blue-text.hide-on-small-only Link 1
									a.btn.flat.blue-text
										i.material-icons more_vert
						.row.nowrap
							.col.min
								i.material-icons.orange-text warning
							.col
								div.truncate Segunda linha
								label.truncate
									span Segunda linha
							.col.min
								nav
									a.btn.flat.blue-text.hide-on-small-only Link 1
									a.btn.flat.blue-text
										i.material-icons more_vert
						.row.nowrap
							.col.min
								i.material-icons.grey-text schedule
							.col
								div.truncate Terceira linha
								label.truncate
									span Segunda linha
							.col.min
								nav
									a.btn.flat.blue-text.hide-on-small-only Link 1
									a.btn.flat.blue-text
										i.material-icons more_vert

					.card
						h5 List
						.row.nowrap
							.col.min
								i.material-icons.light-green-text.left check_circle
							.col
								div.truncate Primeira linha
								label.truncate
									span Segunda linha
							.col.min
								nav
									a.btn.flat.blue-text.hide-on-small-only Link 1
									a.btn.flat.blue-text
										i.material-icons more_vert
						.row.nowrap
							.col.min
								i.material-icons.orange-text.left warning
							.col
								div.truncate Primeira linha
								label.truncate
									span Segunda linha
							.col.min
								nav
									a.btn.flat.blue-text.hide-on-small-only Link 1
									a.btn.flat.blue-text
										i.material-icons more_vert

						.row.nowrap
							.col.min
								i.material-icons.grey-text.left schedule
							.col
								div.truncate Primeira linha
								label.truncate
									span Segunda linha
							.col.min
								nav
									a.btn.flat.blue-text.hide-on-small-only Link 1
									a.btn.flat.blue-text
										i.material-icons more_vert

					.card
						h5 List
						.row.nowrap
							.col
								i.material-icons check_box_outline_blank
							.col.min
								nav
									a.btn.flat.grey-text.hide-on-small-only Link 1
									a.btn.flat.grey-text.hide-on-small-only Link 2
									a.btn.flat.grey-text.hide-on-small-only Link 3
									a.btn.flat.grey-text
										i.material-icons more_vert
						.row.nowrap
							.col.min
								i.material-icons check_box_outline_blank
							.col
								div.truncate Primeira linha
								label.truncate
									span Segunda linha
							.col.min
								nav
									a.btn.flat.blue-text.hide-on-small-only Link 1
									a.btn.flat.blue-text
										i.material-icons more_vert
						.row.nowrap
							.col.min
								i.material-icons check_box_outline_blank
							.col
								div.truncate Primeira linha
								label.truncate
									span Segunda linha
							.col.min
								nav
									a.btn.flat.blue-text.hide-on-small-only Link 1
									a.btn.flat.blue-text
										i.material-icons more_vert
						.row.nowrap
							.col.min
								i.material-icons check_box_outline_blank
							.col
								div.truncate Primeira linha
								label.truncate
									span Segunda linha
							.col.min
								nav
									a.btn.flat.blue-text.hide-on-small-only Link 1
									a.btn.flat.blue-text
										i.material-icons more_vert

					.card
						.row.nowrap
							.col
								h5 Table
							.col.min
								nav
									a.btn.flat.grey-text.hide-on-small-only Link 1
									a.btn.flat.grey-text.hide-on-small-only Link 2
									a.btn.flat.grey-text.hide-on-small-only Link 3
									a.btn.flat.grey-text
										i.material-icons more_vert
						table.border
							thead
								tr
									th
										i.material-icons check_box_outline_blank
									th Coluna 1
									th Coluna 2
									th Coluna 3
									th
							tbody
								tr
									td
										i.material-icons check_box_outline_blank
									td Linha 1
									td Linha 1
									td Linha 1
									td
										nav.right-align
											a.btn.flat.blue-text.hide-on-small-only Link 1
											a.btn.flat.blue-text
												i.material-icons more_vert
								tr
									td
										i.material-icons check_box_outline_blank
									td Linha 2
									td Linha 2
									td Linha 2
									td
										nav.right-align
											a.btn.flat.blue-text.hide-on-small-only Link 1
											a.btn.flat.blue-text
												i.material-icons more_vert
								tr
									td
										i.material-icons check_box_outline_blank
									td Linha 3
									td Linha 3
									td Linha 3
									td
										nav.right-align
											a.btn.flat.blue-text.hide-on-small-only Link 1
											a.btn.flat.blue-text
												i.material-icons more_vert

					.card
						h5 Form
						.row
							.col.s12.m6
								.input-field
									i.material-icons.prefix.grey-text search
									input#input11(type='text')
									label(for='input11') Autocompletar
							.col.s12.m6
								.input-field
									i.material-icons.prefix.grey-text today
									input#input12(type='text')
									label(for='input12') Data
							.col.s12.m6
								.input-field
									label.active(for='input10') Lista
									select#input10.browser-default
										option Item 1
										option Item 2
										option Item 3
							.col.s12.m6
								.input-field
									input#input9(type='text')
									label(for='input9') Texto
							.col.s12.m6
								label Marcar vários itens
								p
									span
										input#input13a.filled-in(type='checkbox')
										label(for='input13a') Item 1
									span
										input#input13b.filled-in(type='checkbox')
										label(for='input13b') Item 2
									span
										input#input13c.filled-in(type='checkbox')
										label(for='input13c') Item 3
							.col.s12.m6
								label Marcar somente um item
								p
									span
										input#input14a.filled-in(type='radio', name="input14")
										label(for='input14a') Item 1
									span
										input#input14b.filled-in(type='radio', name="input14")
										label(for='input14b') Item 2
									span
										input#input14c.filled-in(type='radio', name="input14")
										label(for='input14c') Item 3
								
							.col.s12
								.switch
									| Uma pergunta?
									label
										input(type='checkbox')
										span.lever

	script(type='text/javascript').
		$('#button-side-nav1').sideNav({
			menuWidth: 700,
			edge: 'right'
		});

		$('.menu-collapsed a').on('mouseover', function() {
			if (!$('.menu-expanded').is(':visible'))
				return;

			$(this).trigger("click");
		});

		$('.menu-collapsed a').on('click', function() {
			$('.menu-expanded').show();
			$('.menu-expanded > div[id]').hide();
			$($(this).attr('href')).show();

			return false;
		});

		$(document).on('click', function() {
			$('.menu-expanded').hide();
		});

		$(window).on('scroll resize', function() {
			if ($(window).width() <= 992 || $('#body').offset().top < $(document).scrollTop())
				$('#bottom').show();
			else
				$('#bottom').hide();
		});

		$('#up').on('click', function() {
			$(document).scrollTop(0);
		});

		for (var i=0; i<2; i++) {
			var lightBlue = ['#03a9f4', '#29b6f6', '#4fc3f7', '#81d4fa', '#b3e5fc', '#e1f5fe'];
			var amber = ['#ffc107', '#ffca28', '#ffd54f', '#ffe082', '#ffecb3', '#fff8e1'];
			var pink = ['#e91e63','#ec407a','#f06292','#f48fb1','#f8bbd0','#fce4ec'];
			var lightGreen = ['#8bc34a','#9ccc65','#aed581','#c5e1a5','#dcedc8', '#f1f8e9'];
			var purple = ['#9c27b0','#ab47bc','#ba68c8','#ce93d8','#e1bee7', '#f3e5f5'];
			var teal = ['#009688','#26a69a','#4db6ac','#80cbc4','#b2dfdb', '#e0f2f1'];
			
			var colors = [lightBlue, amber, pink, lightGreen, purple];
			var type = i == 0 ? 'bar' : 'doughnut';
			var ctx = document.getElementById('grafico'+i);
			var myChart = new Chart(ctx, {
				type: i == 0 ? 'bar' : 'doughnut',
				data: {
					labels: ['Item 1', 'Item 2', 'Item 3', 'Item 4', 'Item 5'],
					datasets: [{
						label: 'Label',
						data: [12, 19, 3, 5, 2],
						backgroundColor: colors[Math.floor(Math.random() * 5)],
						borderWidth: 0
					}]
				},
				options: {
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: true
							}
						}]
					}
				}
			});
		}
